In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('District and vehicles.tsv', sep='\t')

In [14]:
df.shape

(138, 3)

In [7]:
df = df[df['Vehicles'] != 'null']

In [8]:
df = df[df['District'] != 'null']

In [11]:
df2 = df

In [12]:
df2.shape

(71, 3)

In [16]:
df2.columns

Index(['District', 'Vehicles', 'count_sum'], dtype='object')

In [18]:
df2['District']

4               khulna
5               magura
6              gazipur
12           madaripur
22             comilla
23               bogra
30          chittagong
31        khagrachhari
33             barisal
34              sylhet
35               dhaka
36             tangail
37            rajshahi
44          chittagong
45        brahmanbaria
46           netrakona
50               dhaka
54              khulna
60               bogra
61            rajshahi
62          patuakhali
67               dhaka
68             rangpur
69               dhaka
70         narayanganj
82            rajshahi
85           gopalganj
87         narayanganj
88     chapainawabganj
89           madaripur
            ...
103          dinajpuri
104          manikganj
105         nilphamari
106              dhaka
108            barisal
110      dhaka,barisal
111         shariatpur
112           dinajpur
114         chittagong
115        moulvibazar
116          chuadanga
117            jessore
118            gazipur
119          manikganj
120              dhaka
121           faridpur
123             khulna
124            tangail
125            jessore
126          rangamati
127          joypurhat
128          sunamganj
129              dhaka
130           dinajpur
132              bogra
133           chandpur
134           rajshahi
135            comilla
136           habiganj
137           bagerhat
Name: District, dtype: object

In [25]:
df_vehicles = pd.read_csv('vehiclecollision.tsv', sep='\t')

In [26]:
df_vehicles = df_vehicles[df_vehicles['Vehicle'] != 'null']

In [28]:
df_vehicles = df_vehicles[df_vehicles['Location'] != 'null']

In [29]:
import numpy as np
df_vehicles = df_vehicles[df_vehicles['Location'] != np.NaN]

In [32]:
df_vehicles = df_vehicles[df_vehicles['Vehicle'] != 'NaN']

In [33]:
df_vehicles = df_vehicles[df_vehicles['Location'] != 'NaN']

In [34]:
df_vehicles

          Vehicle       Location  count
0       ambulance          dhaka    1.0
1             bus        barisal    6.0
2             bus          bogra    2.0
3             bus   brahmanbaria    2.0
4             bus       chandpur    1.0
5             bus     chittagong    7.0
6             bus        comilla    3.0
7             bus          dhaka   13.0
9             bus       faridpur    1.0
10            bus        gazipur    1.0
11            bus      gopalganj    1.0
12            bus        jessore    1.0
13            bus      joypurhat    1.0
14            bus         khulna    3.0
15            bus      madaripur    1.0
16            bus         magura    1.0
17            bus      manikganj    2.0
18            bus    moulvibazar    1.0
19            bus     mymensingh    1.0
20            bus    narayanganj    1.0
21            bus      netrakona    2.0
22            bus     patuakhali    1.0
23            bus       rajshahi    6.0
24            bus      rangamati    1.0
25            bus        rangpur    2.0
26            bus     shariatpur    2.0
27            bus      sunamganj    1.0
28            bus        tangail    1.0
29        bus,bus     chittagong    1.0
30        bus,bus        comilla    1.0
..            ...            ...    ...
105      microbus      chuadanga    1.0
106      microbus          dhaka    3.0
107      microbus       rajshahi    1.0
109         truck            NaN    NaN
110         truck     chittagong    2.0
111         truck          dhaka    4.0
112         truck  dhaka,barisal    1.0
113         truck       dinajpur    1.0
114         truck        gazipur    1.0
115         truck        jessore    1.0
116         truck   khagrachhari    2.0
117         truck      madaripur    1.0
118         truck    moulvibazar    1.0
119         truck       rajshahi    1.0
120     truck,bus          bogra    1.0
121      jeep,bus            NaN    NaN
122      jeep,bus      dinajpuri    1.0
123      jeep,bus      manikganj    1.0
124      jeep,bus     nilphamari    1.0
125      jeep,bus      sirajganj    1.0
126  rickshaw,bus            NaN    NaN
127  rickshaw,bus          dhaka    1.0
128  rickshaw,bus       rajshahi    2.0
129  rickshaw,bus         sylhet    1.0
130  rickshaw,bus        tangail    2.0
131   tempo,truck            NaN    NaN
132   tempo,truck          dhaka    1.0
133   tempo,truck          tempo    NaN
134   tempo,truck         khulna    1.0
135   caravan,bus        tangail    1.0

[132 rows x 3 columns]